#map_data {
    display: none;
}

a#zoomIn,
a#zoomOut {
    position: absolute;
    left: 15px;
    width: 25px;
    height: 25px;
    z-index: 1000;
    cursor: pointer;
}

a#zoomIn {
    top: 50px;
    background: url(../images/icons/moreZoomBtnExplore.png) no-repeat 0 0;
}
a#zoomOut {
    top: 80px;
    background: url(../images/icons/lessZoomBtnExplore.png) no-repeat 0 0;
}

a#zoomIn:hover,
a#zoomOut:hover {
    background-position: -25px 0;
}

#map_tools {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
    width: 150px;
    background: url(../images/float_for_tools.png) no-repeat top left;
    padding: 6px;
    margin-bottom: 18px;
    text-align: center;
}

#map_tools .shader {
    position: absolute;
    bottom: -11px;
    left: 0;
    width: 100%;
    height: 20px;
    background: url(../images/float_for_tools__bottom_shade.png) no-repeat bottom left;
}

#map_tools ul#layers {
    list-style-type: none;
    display: inline-block;
    text-align: left;
}

#map_tools #layers .disabled {
    color: #a9a9a9;
}

#map_tools h3 {
    font: bold 13px Arial;
    color: #99B3C9;
    margin: 3px;
    margin-bottom: 14px;
    text-align: left;
}

#map_tools span {
    position: relative;
    float: right;
    font: bold 13px Arial;
    color: #FFFFFF;
    padding: 3px 13px 0 0;
    cursor: default;
}

#map_tools span img {
    position: absolute;
    right: 12px;
    top: 6px;
}

#map_tools .buttons {
    margin-top: 25px;
}

#map_tools a:focus {
    outline: none;
}

#map_tools a {
    display: inline-block;
    width: 110px;
    height: 45px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#map_tools a:hover,
#map_tools a#done:hover {
    background-position: center -45px;
}

#map_tools a#done.disabled:hover {
    background-position: center -90px;
}

#map_tools a#done {
    background: #ff9900 url(../images/buttons/done.png) no-repeat center 0;
}

#map_tools a#done:hover {
    background-color: #c64819;
}

#map_tools a#done.disabled {
    background: #cccccc url(../images/buttons/done.png) no-repeat center -90px;
}

#map_tools a#done.loading {
    background: white url(../images/buttons/ajax-loader.gif) no-repeat center 0;
}
