<!DOCTYPE html>
<html>
<head>
  <title>Basemap</title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%#= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <%= favicon_link_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
